:root {
  --timer-size: 100px;
  --checker-size: 40px;
}

.sprint {
  display: flex;
  flex-direction: row;
  gap: 50px;
  color: #ffffff;
}

.sprint-timer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--timer-size);
  height: var(--timer-size);
  font-size: calc(var(--timer-size) / 4);
  color: #ffffff;
  border: 3px solid #ffffff;
  border-radius: calc(var(--timer-size) / 2);
}

.sprint-timer.hidden {
  display: none;
}

.sprint-block {
  width: 500px;
  height: calc(100vh - 200px);
}

.sprint-controls-block {
  width: 100%;
  height: 5%;
}

.sprint-word-block {
  width: 500px;
  height: 95%;
}

.sprint-word-controls-block,
.sprint-checkers {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.sprint-word-controls-block {
  justify-content: space-between;
}

.sprint-checkers {
  gap: 5px;
}

.checker {
  width: var(--checker-size);
  height: var(--checker-size);
  text-align: center;
  font-size: calc(var(--checker-size) / 2);
  user-select: none;
  border: 3px solid #ffffff;
  border-radius: calc(var(--checker-size) / 2);
}

/*========================*/

.sprint-question-container {
  display : flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.answers-box {
  display: flex;
  flex-direction: row;
}

.div-option-grid.right {
  grid-template-columns: auto 20px;
}

.sprint-original-word {
  margin: 1rem auto;
  font-size: 4rem;
  font-weight: 800;
  color: var(--color-gray-light);
}

.sprint-variation-word {
  color: #ffffff
}

/*  */
.modal-message-content {
  background-color: rgb(255, 255, 255);   
  padding: 0px 15px 5px 5px;    
  width: 300px;
  height: 100px;    
  border-radius: 15px;
  margin-bottom : 100x;
}
.modal-close { 
  
  float: right;
  font-size: 40px;
  font-weight: bold;
          
}
.message-text{
  position: relative;
  top: 40%;
  font-size: 18px;
  color: black;
  text-align: center;
  align-self: center;
  font-weight: bold;
  height: 40px;
 
}
.modal-message-close {
  color: black;
  float: right;
  font-size: 20px;
  font-weight: bold; 
  margin-bottom: 10px;   
}
.modal-close:hover,
.modal-close:focus,
.modal-message-close:hover {
  color: var(--color-accent);
  text-decoration: none;
  cursor: pointer;
}
.popup{
  animation: popup 0.7s;
  border-radius: 15px;
}

@keyframes popup {
  0%{
    transform: scale(0.2);
  }
 
  100%{
    transform: scale(1);
  }
}

@media (max-width: 500px) {
  .game-progress-bar{
    width: 250px; 
  }
  .answers-box > .game-button{
    width: 150px;
  }
}

