.authorisation,
.registration {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 450px;
}

@media (max-width: 480px) {
  .authorisation,
  .registration {
    width: 100%;
  }
}

.auth-title,
.reg-title,
.sign-in-button,
.sign-up-button {
  font-size: 21px;
  color: var(--color-main);
}

@media (max-width: 480px) {
  .auth-title,
  .reg-title,
  .sign-in-button,
  .sign-up-button {
    font-size: 18px;
  }
}

.auth-title,
.reg-title,
.have-not-yet-account-span,
.have-account-span {
  margin-bottom: 1em;
  color: #ffffff;
}

.auth-title {
  width: 222px;
  text-align: center;
}

.name-input,
.email-input,
.password-input,
.sign-in-button,
.sign-up-button {
  width: 350px;
  height: 50px;
  border: 3px solid #c7bcab;
  padding: 5px 10px;
}

@media (max-width: 480px) {
  .name-input,
  .email-input,
  .password-input,
  .sign-in-button,
  .sign-up-button {
    width: 100%;
  }
}

.name-input:focus-visible,
.email-input:focus-visible,
.password-input:focus-visible,
.sign-in-button,
.sign-up-button {
  border: 3px solid #ec990e;
  outline: #ec990e 0;
}

.name-input {
  margin-bottom: 25px;
}

.password-input {
  margin-top: 25px;
}

.sign-in-button,
.sign-up-button {
  margin-top: 65px;
  font-family: Raleway;
  font-weight: 900;
  letter-spacing: 2px;
  background-color: #ffffff;
}

@media (max-width: 480px) {
  .sign-in-button,
  .sign-up-button {
    margin-top: 35px;
  }
}

.sign-in-button:hover,
.sign-up-button:hover {
  color: #ffffff;
  background-color: #ec990e;
  cursor: pointer;
}

.have-not-yet-account,
.have-account {
  display: flex;
  justify-content: center;
  gap: 10px;
  width: 350px;
  height: 20px;
  margin-top: 15px;
}

@media (max-width: 480px) {
  .have-not-yet-account,
  .have-account {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    height: auto;
    margin-bottom: 0;
    gap: 0;
  }
}

.have-not-yet-account-span,
.have-not-yet-account-button,
.have-account-span,
.have-account-button {
  font-size: 13px;
  line-height: 19px;
}

@media (max-width: 480px) {
  .have-not-yet-account-span,
  .have-not-yet-account-button,
  .have-account-span,
  .have-account-button {
    line-height: 6px;
    width: 80%;
  }
}

.have-not-yet-account-span,
.have-account-span {
  font-weight: 400;
}

.have-not-yet-account-button,
.have-account-button {
  padding: 0;
  border: 0;
  color: #ec990e;
  background-color: transparent;
  font-weight: 600;
}

.have-not-yet-account-button:hover,
.have-account-button:hover {
  text-decoration: underline;
  cursor: pointer;
}
