.cards_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 20px;
}

@media (max-width: 992px) {
  .cards_list {
    justify-content: center;
    row-gap: 20px;
    column-gap: 40px;
  }
}

.card {
  position: relative;
  width: 285px;
  height: 510px;
  border: 3px solid var(--color-gray-light);
  border-radius: 30px 0px 0px 0px;
  overflow: hidden;
  transition: all 0.3s;
}

.card__img {
  height: 190px;
  width: 100%;
  object-fit: cover;
}

.card__stat {
  position: absolute;
  width: 70px;
  height: 34px;
  right: -3px;
  top: -3px;
  background: #ffffff;
  border: 1px solid var(--color-gray-light);
  font-weight: 400;
  font-size: 2.1rem;
  text-align: center;
  line-height: 3rem;
  color: var(--color-gray-medium);
}

.card__stat span {
  font-weight: 600;
  color: #725747;
}

.card__text {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 10px 8px;
}

.word {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.2rem;
  text-align: center;
  color: #000000;
}

.word__english {
  font-weight: 800;
  color: var(--color-gray-medium);
}

.audio-icon {
  width: 37px;
  height: 27px;
  cursor: pointer;
  background-color: var(--color-gray-light);
  mask-image: url("../assets/audio.svg");
  mask-repeat: no-repeat;
  mask-size: contain;
  -webkit-mask-image: url("../assets/audio.svg");
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  transition: all 0.3s;
}

.audio-icon:hover {
  background-color: var(--color-main);
}

.audio-icon.disabled {
  pointer-events: none;
}

.card__buttons {
  display: flex;
  gap: 20px;
  justify-content: space-around;
}

.card__btn {
  display: inline;
  width: 120px;
  height: 33px;
  padding: 10px 22px;
  background: #ffffff;
  border: 2px solid var(--color-gray-light);
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.2rem;
  text-align: center;
  letter-spacing: 1px;
  color: var(--color-gray-light);
}

.hard__btn:hover {
  border: 2px solid var(--color-accent);
  color: var(--color-accent);
}

.done__btn:hover {
  border: 2px solid var(--color-main);
  color: var(--color-main);
}

.phrases {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 1.4rem;
  line-height: 2rem;
}

.phrase__definition {
  color: #000000;
}

.phrase__definition i {
  font-weight: 700;
}

.phrase__definition_english {
  font-weight: 500;
}

.phrase__definition_russian {
  font-weight: 300;
}

.phrase__example {
  color: #919191;
}

.phrase__example_english {
  font-style: italic;
  font-weight: 500;
}

.phrase__example_russian {
  font-style: italic;
  font-weight: 300;
}

/* ------------- hard cards-----------------------*/
.card.hard {
  border: 3px solid var(--color-accent);
}

.hard .card__stat {
  border: 3px solid var(--color-accent);
  line-height: 2.6rem;
}

.hard .card__stat span {
  color: var(--color-accent);
}

.hard .word__english {
  color: var(--color-accent);
}

.hard .hard__btn {
  border: 2px solid var(--color-accent);
  color: var(--color-accent);
}

/* ------------- done cards-----------------------*/
.card.done {
  border: 3px solid var(--color-main);
}

.done .card__stat {
  border: 3px solid var(--color-main);
  line-height: 2.6rem;
}

.done .card__stat span {
  color: var(--color-main);
}

.done .word__english {
  color: var(--color-main);
}

.done .done__btn {
  border: 2px solid var(--color-main);
  color: var(--color-main);
}

/* ------------- word progress bar -----------------------*/
.card__progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 170px;
  height: 6px;
  border: 1px solid white;
  border-radius: 4px;
  box-sizing: unset;
  background: #dfd4d4;
  transform: translateX(22px) translateY(12px);
}

.progress-loading {
  height: 100%;
  width: 25%;
  background-color: var(--color-main);
  border-radius: 4px;
}
