@font-face {
  font-family: Raleway;
  src: url("../assets/fonts/static/Raleway-Regular.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --color-main: #EC990E;
  --color-medium: #F2B857;
  --color-accent: #AE312B;
  --color-gray-light: #C7BCAB;
  --color-gray-medium: #B59565;
  --color-dark: #494343;

  font-size: 10px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0 auto;
  width: 80%;
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

header {
  height: 60px;
  margin: 0 auto;
  width: 100%;
  background-image: linear-gradient(315deg, #d7e4f5 0%, #bacae6 74%);
}

main {
  background-color: #ffffff;  
}

.intro{
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  /* margin-top: 80px; */
  max-width: 60%;
}
.h1{
  font-weight: 900;
  font-size: 6rem;
  line-height: 10rem;
  color: #FFFFFF;
}

.intro__text p{
  /* margin-top: 16px; */
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.6rem;
  color: #FFFFFF;
}

.buttons{
  display: flex;
  gap: 40px;
  margin-top: 100px;
}
.btn_intro {
  width: 200px;
  height: 50px;
}

.btn{
  font-weight: 900;
  font-size: 2.1rem;
  line-height: 2.5rem;
  text-align: center;
  letter-spacing: 2px;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.2s;
}

.btn:hover{
  text-decoration: underline;
  border-top-left-radius: 20px;
}
.btn:active{
  scale: 96%;
}

.btn_colored{
  background-color: var(--color-main);
  color: #FFFFFF;
}

.btn_bordered{
  background: #FFFFFF;
  border: 3px solid var(--color-main);
  letter-spacing: 2px;

  color: #EC990E;
}

.footer{
  margin-top: auto;
}

.footer_main{
  display: flex;
  flex-direction: column;
  background-color: rgba(43, 31, 31, 0.5); 
}

.footer-info__wrapper {
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer_all-pages {
  min-height: 200px;
  background-image: url('../assets/bg_footer_2.png'); 
  background-size: cover;
  padding-top: 50px;
  background-color: transparent;
}
.game__buttons{
  display: flex;
  justify-content: start;
  margin-bottom: 38px;
  gap: 50px;
}

.game__buttons .btn {
  height: 52px;
  width: 200px;
  padding: 8px 0;
  line-height: 3.7rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.rs-logo{
  width: 90px;
  height: auto;
}

.gh_logo{
  width: 32px;
  height: 32px;
}
.footer__team{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 0;
  align-items: center;
}
.team__list{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  color:#FFFFFF;
  gap: 0;
}

.team__member a{
  padding: 0 16px;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.8rem;
  color: #FFFFFF;
  border-right: solid 1px #ffffff;
  text-decoration: none;
}

.team__member a:hover{
  text-decoration: underline;
}

.team__member:last-of-type a{
  border-right: none;
}
.footer__year{
  font-weight: 400;
  font-size: 30px;
  line-height: 0px;
  color: #FFFFFF;
}