.team-page {
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  justify-content: flex-start;
  flex-wrap: wrap;
  column-gap: 6%;
  row-gap: 50px;
  /* height: 100vh; */
  padding: 40px 0 20px 30px;
}

@media (max-width: 542px) {
  .team-page {
    padding: 10px 0 20px 0;
  }
}

.member-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  max-width: 615px;
  min-height: 250px;
  padding: 10px 30px 14px;
  background: #fcf9f2;
  border: 2px solid var(--color-main);
  border-radius: 30px 0px 0px 0px;
}

.member-card img {
  position: absolute;
  width: 180px;
  height: 180px;
  left: -30px;
  top: -30px;
  border: 4px solid var(--color-main);
  border-radius: 30px 0px 0px 0px;
  background-image: url("../assets/team/fon.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #462524;
  background-position-x: center;
}

@media (max-width: 542px) {
  .member-card img {
    position: static;
    left: 0;
    top: 0;
    width: 100%;
    margin-bottom: 6px;
  }
}

@media (max-width: 480px) {
  .member-card img {
    height: 150px;
  }
}

.member-card__info {
  margin-left: 140px;
}

@media (max-width: 542px) {
  .member-card__info {
    margin-left: 0;
  }
}

.member-card__name {
  font-weight: 800;
  font-size: 1.9rem;
  text-align: right;
  color: var(--color-accent);
  margin-bottom: 10px;
}

@media (max-width: 542px) {
  .member-card__name {
    text-align: center;
  }
}

@media (max-width: 480px) {
  .member-card__name {
    font-size: 1.6rem;
  }
}

.member-card__descr {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2rem;
  margin-bottom: 10px;
}

@media (max-width: 480px) {
  .member-card__descr {
    font-size: 1.2rem;
    line-height: 1.6rem;
    margin-bottom: 10px;
  }
}

.member-card__slogan {
  font-style: italic;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 2rem;
  color: #919191;
  text-align: right;
  margin-bottom: 10px;
}

@media (max-width: 480px) {
  .member-card__slogan {
    font-size: 1.2rem;
    line-height: 1.5rem;
  }
}

.member-card__points {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 1rem;
  column-gap: 2rem;
}

.member-card__points p {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.8rem;
  letter-spacing: 0.1rem;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  padding: 6px 12px;
  filter: drop-shadow(0px 2.85886px 2.85886px rgba(0, 0, 0, 0.25));
}

@media (max-width: 480px) {
  .member-card__points p {
    font-size: 1rem;
    line-height: 1.4rem;
  }
}

.point-0 {
  background-color: #b59565;
}

.point-1 {
  background-color: #ffcb05;
}

.point-2 {
  background-color: #faa61a;
}

.point-3 {
  background-color: #725747;
}

.point-4 {
  background-color: #ae312b;
}
