.audio-call-container{
    user-select: none; 
    row-gap: 20px;
    justify-items: center;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('../../assets/bg_main.png');   
    background-size: cover;
    
}
.buttons-container-div{
    display:flex;
    justify-content: center;
    user-select: none;
}

.div-quiz-container{
    justify-self: center;    
    width: 500px;   
    display: grid;
    grid-template-rows: auto auto auto;    
    align-self: center;
    justify-content: center;
}
.quesion-container{
display : flex;
flex-direction: column;
align-content: center;
align-items: center;
}
.quesion-container > div{
    margin-bottom: 25px;
}
.next-question-button{
    margin-top: 30px;
    margin-bottom: 20px;
    width: 250px;
    height: 45px;
    background: #B59565;
    opacity: 0.9;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: 300;
    border: 0px;
    border-radius: 5px;
    color: #FFFFFF;
}
.next-question-button:hover{
    font-weight: 600;
    opacity: 1;
}
.new-game-button::hover{
    opacity: 1;
    font-weight: 700;
}
label{
    text-align: center;
}
.hidden{
    display: none;
}
.new-game-button,
.play-again-button{
width: 250px;
height: 45px;
background: #EC990E;
opacity: 0.9;
font-family:Georgia, 'Times New Roman', Times, serif;
font-size: 22px;
font-weight: 500;
border: 0px;
border-radius: 5px;
color: #FFFFFF;
margin-top: 5px;
margin-bottom: 5px;

}
.play-again-button{
width: 250px;
font-size: 18px;
align-self:flex-end;
}
.new-game-button:hover,
.play-again-button:hover{
    opacity: 1;
    font-size: 20px;
    font-weight: 700;

border: 0px;
border-radius: 3px;
cursor: pointer;
}

.game-button{
margin-top: 10px;
width: 150px;
height: 40px;
color: #FFFFFF;
border: 0px;
border-radius: 3px;
margin-right: 5px;
opacity: 0.9;
font-family:Georgia, 'Times New Roman', Times, serif;
font-size: 18px;
font-weight: 500;
cursor: pointer;
user-select: none 
}
.game-button:hover{
font-weight: 800;
opacity: 1;
}
.option{
   background-color:#fc9a21;
   width: 250px; 
   cursor: pointer;
}
.l0{
background-color: #CDC1A2;
}
.l1{
    background-color: #B59565;
    }
.l2{
background-color: #FFCB05;
}
.l3{
 background-color: #fcbe56;}

.l4{
 background-color: #fca20a;
 }

.l5{
    background-color: #fc630a;
}
.l6{
    background-color: #fc3a0a;
}
.correct{
    background-color: #6DA070;
}
.wrong{
    background-color: rgb(255, 47, 47);
}
/* .div-play{
    width: 60px;
    height: 60px;
    background-image: url('../../assets/Play.png');
    cursor: pointer;
    background-size:99% 99%;
    background-repeat: no-repeat;
    margin: 10px;
} */
.div-play:hover{
    background-size:100% 100%;
}
.game-progress-bar{
    width: 500px;
    height: 25px;
    border-style: solid;
    border-color: #fca20a;
    border-radius: 10px;
    box-sizing: unset;
    text-align: center;

}
.loading{ 
    height: 25px;
    border-radius: 0px;
    background-color: #fca20a;
    box-sizing: unset;
}
.dif-container{
    text-align: center;
    flex-direction: column;
}
.dif-container > label{
color: #B59565;
font-family:Georgia, 'Times New Roman', Times, serif;
font-size: 28px;
font-weight: 800;
} 
.grid-status-container{
    display: grid;        
    grid-template-columns: 50px 170px 50px;
    height: 50px;
    align-content: center;
}

